* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}
ul {
	list-style: none;
}
p {
	color: #5a5a5a;
	font-size: 13px;
	letter-spacing: 0.25px;
	line-height: 24px;
}
.primary-button a {
	display: inline-block;
	background-color: #d24a43;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}
.primary-button a:hover {
	background-color: #9c5e5b;
}
.white-button a {
	display: inline-block;
	background-color: #fff;
	padding: 12px 18px;
	color: #121212;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}
.white-button a:hover {
	background-color: #121212;
	color: #fff;
}
.section-heading h4 {
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	color: #121212;
}
.section-heading .line-dec {
	width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #fff!important;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li {
	margin-left: 45px;
}

.header.active .navbar-nav>li>a {
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	color: #121212!important;
}

.header.active {
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/white_logo.png);
	display: inline-block;
	width: 160px;
	height: 40px;
	background-repeat: no-repeat;
}
.header.active .navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 160px;
	height: 40px;
	background-repeat: no-repeat;
}
#main-nav {
	background-color: transparent;
	background-image: none!important;
}
.header .navbar-brand {
    font-weight: 900;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.page-section {
    padding: 80px 0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #d24a43;
    background-color: #d24a43;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #d24a43;
}
bootstrap.min.css:5
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}



/* HERO SLIDER */

.slide-caption {
	color: #fff;
}

.slide-caption span {
	font-size: 14px;
	text-transform: uppercase;
}

.slide-caption h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 900;
}

.slide-caption p {
	font-size: 13px;
	letter-spacing: 0.25px;
	line-height: 24px;
}

ul.cd-hero-slider {
	margin-bottom: 0px!important;
}

/* WHAT WE DO */

#about {
	background-image: url(../img/what-we-do-bg.png);
	background-color: #f4f4f4;
	padding: 80px 0px;
}

#about .section-heading {
	margin-bottom: 60px;
}

#about .section-heading h4 {
	color:#fff;
}

#about .line-dec {
	background-color: #fff;
}

.service-item {
	background-color: #fff;
	text-align: center;
	padding: 30px 20px;
	transition: all 0.7s;
	box-shadow: 0px 0px 15px #cdcdcd;
}

.service-item:hover {
	background-color: #d24a43;
}

.service-item h4 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.service-item:hover h4 {
	color: #fff;
}

.service-item:hover p {
	color: #fff;
}

.first-service .icon {
	background-image: url(../img/1-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.first-service:hover .icon {
	background-image: url(../img/1-white.png);
}

.second-service .icon {
	background-image: url(../img/2-main.png);
	height: 32px;
	width: 22px;
	display: inline-block;
}

.second-service:hover .icon {
	background-image: url(../img/2-white.png);
}

.third-service .icon {
	background-image: url(../img/3-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.third-service:hover .icon {
	background-image: url(../img/3-white.png);
}

.fourth-service .icon {
	background-image: url(../img/4-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.fourth-service:hover .icon {
	background-image: url(../img/4-white.png);
}

.fivth-service .icon {
	background-image: url(../img/5-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.fivth-service:hover .icon {
	background-image: url(../img/5-white.png);
}

.sixth-service .icon {
	background-image: url(../img/6-main.png);
	height: 32px;
	width: 32px;
	display: inline-block;
}

.sixth-service:hover .icon {
	background-image: url(../img/6-white.png);
}


#what-we-do {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0px;
}

#what-we-do .right-image img {
	width: 100%;
	overflow: hidden;
}

#what-we-do h4 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-bottom: 25px;
}

#what-we-do p {
	margin-bottom: 30px;
}

#what-we-do ul li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}



/* PORTFOLIO */

#portfolio {
	text-align: center;
}

.projects-holder .mix {
  display: none;
}

.filter-categories {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 60px;
}

.filter-categories ul li {
  margin: 0px 10px 15px 10px;
  display: inline-block;
}

.filter-categories ul li span {
  cursor: pointer;
  color: #5a5a5a;
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  border: 1px solid;
  border-radius: 10px;
  padding: 3px 6px;
}

.filter-categories ul li.active span {
  color: #d24a43;
  border: 1px solid;
  border-radius: 10px;
  padding: 3px 6px;
}

.project-item {
	margin-top: 30px;
}

.project-item .thumb {
	position: relative;
	text-align: center;
	display: inline-block;
}

.project-item .thumb img {
	width: 100%;
	overflow: hidden;
}

.project-item .hover-effect {
	position: absolute;
	background-color: rgba(210, 74, 67, 0.9);
	width: 100%;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

.project-item .hover-effect i {
	text-align: center;
	margin-top: 35%;
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: #fff;
	line-height: 46px;
	color: #d24a43;
	border-radius: 50%;
	font-size: 18px;
}

.project-item .hover-effect i:hover {
	background-color: #9c5e5b;
	color: #fff;
	transition: all 0.5s;
}

.project-item:hover .hover-effect {
	opacity: 1;
	visibility: visible;
}


/* PRICE */

#price {
	background-image: url(../img/blog-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#price .section-heading  {
	margin-bottom: 60px;
}

#price .section-heading h4 {
	color: #fff;
}

#price .section-heading .line-dec {
	background-color: #fff;
}

#price .pop, .pop2, .pop3 {
	background-color: #fff;
}

#price table {
	width:100%;
	background-color: #fff;
	padding: 20px 30px;
    border-collapse: inherit;
	transition: all 0.7s;
    box-shadow: 0px 0px 15px #cdcdcd;
}

#price table .head {
	text-align: center;
	color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    background-color: #d24a43;
}

#price table td {
	padding: 10px;
    border-left: 1px solid #d24a43;
    border-right: 1px solid #d24a43;
    border-bottom: 1px solid #d24a43;
}

#price table .border-top {border-top-left-radius: 25px;border-top-right-radius: 25px;}
#price table .border-b-l-r {border-bottom-left-radius: 25px;}
#price table .border-b-r-r {border-bottom-right-radius: 25px;}

.blog-item {
	cursor: pointer;
	margin-bottom: 30px;
}

.blog-item img {
	width: 100%;
	overflow: hidden;
}

.blog-item .thumb {
	position: relative;
}

.blog-item .text-content {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 12px 20px;
}

.blog-item .text-content h4 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
}

.blog-item .text-content span {
	font-size: 12px;
	color: #fff;
}

.blog-item .text-content em {
	font-style: normal;
	font-weight: 700;
	margin-right: 5px;
}

.pop, .pop2, .pop3 {
	z-index: 9999;
	text-align: center;
	padding: 30px;
    display:none;
    position:fixed;
    top:25%;
    left:10.3%;
    width:80%;
    height: auto;
    box-shadow: 0px 0px 25px #7a7a7a;
}

.pop span, .pop2 span, .pop3 span {
	margin-bottom: 20px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 44px;
	color: #fff;
	text-align: center;
	background-color: #d24a43;
}

.pop span:hover, .pop2 span:hover, .pop3 span:hover {
	background-color: #9c5e5b;
	transition: all 0.5s;
}


/* CONTACT US */

#contact .section-heading h4 {
	color: #fff;
}

#contact .section-heading .line-dec {
	background-color: #fff;
}

#contact .section-heading {
	margin-bottom: 60px;
}

#contact {
	background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}

#contact .map p {
	color: #fff;
    font-size: 24px;
	line-height: inherit;
	text-align: center;
}

#contact .map .fa {
	display: block;
	color: #d24a43;
	padding: 15px;
	font-size: 40px;
}
#contact .map a:hover .fa {color: #9c5e5b;transition: all 0.3s;}

#contact .map a {color: #fff;transition: all 0.3s;text-decoration: none;}
#contact .map a:hover {color: #9c5e5b;transition: all 0.3s;}

#contact input {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	outline: none;
	border: none;
	box-shadow: none;
	line-height: 50px;
	height: 50px;
	width: 100%;
	margin-bottom: 30px;
}

#contact textarea {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	outline: none;
	border: none;
	box-shadow: none;
	height: 165px;
	max-height: 220px;
	width: 100%;
	margin-bottom: 25px;
}

#contact button {
	display: inline-block;
	background-color: #d24a43;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

#contact button:hover {
	color: #fff;
	background-color: #9c5e5b;
	transition: all 0.3s;
}


/* FOOTER */

footer {
	background-color: #202628;
	padding: 20px;
}

footer p {
	font-size: 12px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 20px;
}

footer em {
	font-style: normal;
	font-weight: 700;
	color: #d24a43;
}

footer ul {
	margin-top: 15px;
	float: right;
}

footer ul li {
	display: inline-block;
	margin-left: 5px;
}

footer ul li a {
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	display: inline-block;
	background-color: #d24a43;
	color: #202628;
	border-radius: 50%;
}

footer ul li a:hover {
	color: #202628;
	background-color: #9c5e5b;
	transition: all 0.5s;
}




/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.service-item {
	margin-bottom: 30px;
}

.single-news .card-text {margin-bottom: 0!important;}
.single-news {
  border: none;
  border-radius: 0 !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-news:hover {
    box-shadow: 0px 12px 32px 0px rgba(26, 26, 26, 0.12); }
    .single-news:hover .card-body {
      border: 1px solid transparent;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-news:hover .card-body .card-title a {
        color: #f24841; }
  .single-news .card-body {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px; }
    @media (max-width: 1024px) {
      .single-news .card-body {
        padding: 35px 18px; } }
    @media (max-width: 768px) {
      .single-news .card-body {
        padding: 30px 18px; } }
    .single-news .card-body .card-title {
      font-size: 20px!important;
      font-weight: 200!important;
      margin: 0!important;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 768px) {
        .single-news .card-body .card-title {
          margin: 0; } }
      @media (max-width: 1024px) {
        .single-news .card-body .card-title {
          font-size: 17px; } }
      .single-news .card-body .card-title a {
        color: #222; }
    .single-news .card-body .card-top-img {
      border-radius: 0 !important;
      width: 100%; }
    .single-news .card-body .card-btn {
      position: absolute !important;
      bottom: 58%;
      left: 10%; }
  @media (max-width: 991px) {
    .single-news {
      margin-bottom: 30px; } }


/* RESPONSIVE */

@media (max-width: 767px){
	#main-nav {
		border-color: rgba(250, 250, 250, 0.95);
		margin-top: 16px;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 5px 10px #cdcdcd;
	}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav>li {
		margin-left: 0px!important;
		border-bottom: 1px solid #eee;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;
	}
}

@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;
	}

	.cd-hero .slide-caption h2 {
		font-size: 28px;
	}
}

@media (max-width: 991px){
	.navbar-nav>li {margin-left: 28px;}
}

@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;
	}
	#what-we-do .right-image {
		margin-top: 60px;
	}
	#price .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;
	}
	.fact-item {
		margin-bottom: 15px;
	}
	.map {
		margin-bottom: 45px;
	}
	footer {
		text-align: center;
	}
	footer ul {
		float: none;
	}
}